addict==2.4.0
av==10.0.0
certifi==2022.6.15
chardet==5.2.0
charset-normalizer==2.1.0
contourpy==1.1.1
cycler==0.11.0
decord==0.6.0
distlib==0.3.4
facenet-pytorch==2.5.3
filelock==3.7.1
filterpy==1.4.5
fonttools==4.42.1
fsspec==2023.9.1
fvcore==0.1.5.post20221221
huggingface-hub==0.17.2
idna==3.3
imageio==2.31.3
importlib-metadata==6.8.0
importlib-resources==6.1.0
iopath==0.1.10
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.7.3
mdurl==0.1.2
mmcv==1.0.3
mmengine==0.8.4
numpy==1.23.1
omegaconf==2.3.0
opencv-python==4.8.0.76
packaging==23.1
parameterized==0.9.0
Pillow==9.2.0
portalocker==2.8.2
pyaml==23.9.6
Pygments==2.16.1
pyparsing==3.1.1
pysrt==1.1.2
python-dateutil==2.8.2
pytorchvideo==0.1.5
PyWavelets==1.4.1
PyYAML==6.0.1
regex==2023.8.8
requests==2.28.1
rich==13.5.3
safetensors==0.3.3
scikit-image==0.17.2
scipy==1.10.1
six==1.16.0
tabulate==0.9.0
termcolor==2.3.0
tifffile==2023.7.10
tokenizers==0.13.3
tomli==2.0.1
torch==1.8.1
torchvision==0.9.1
tqdm==4.64.0
transformers==4.33.2
typing_extensions==4.3.0
urllib3==1.26.10
yacs==0.1.8
yapf==0.40.1
zipp==3.17.0
